.not-login {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  color: #2673dd;
}
